.account-create {
  display: flex;
  justify-content: center;
}

.account-create-wrapper {
  display: flex;
  margin-top: 25px;
}

.account-create__title {
  margin: 20px 0;
  text-align: center;
  font-size: 28px;
}

input {
  outline: none;
}

.account-create__input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 60px;

    label {
      font-weight: bold;
      user-select: none;
      padding-bottom: 3px;
    }

    input {
      border: 1px solid #666;
      padding: 2px;
      height: 25px;
    }
  }

  .error {
    text-align: right;
    font-size: 14px;
  }
}

.account-create__check-pref-lodging {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .check-pref-lodging__title {
    font-weight: bold;
    margin-top: 5px;
    user-select: none;
    width: 250px;
  }

  label {
    display: inline-block;
    margin: 10px 0 0 5px;
    text-align: left;
    user-select: none;
    width: 200px;
  }
}

.account-create__submit {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  input {
    font-size: 16px;
    padding: 5px 10px;
  }
}

@media (min-width: 560px) {
  .account-create-wrapper {
    margin-top: 50px;
  }

  .account-create__input-fields {
    .row {
      flex-direction: row;
      align-items: center;
      width: 400px;
      height: 40px;
      
      label {
        padding-right: 5px;
        padding-bottom: 0;
        text-align: right;
        width: 170px;
      }

      input {
        width: 230px;
      }
    }
  
    .error {
      position: fixed;
      margin-left: 405px;
      text-align: left;
      padding-right: 3px;
    }
  }

  .account-create__check-pref-lodging {
    align-items: start;
    
    .check-pref-lodging__title {
      margin-left: 17px;
      width: auto;
    }
  
    input {
      margin-left: 100px;
    }
  }
}
